@{
    Exception exception = ViewData["HandleException"] as Exception;
}

<!DOCTYPE html>
<html>

    <head>
        <title>Error</title>
    </head>

    <body>

        <h1 style="color:green;">NULL REFERANCE</h1>
        <hr />
        <h1 style="color:red;">@exception.Message</h1>
        <h2>@exception.StackTrace</h2>
    </body>

</html>
